<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.ole.testdialog</string>

        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/MDMAssets/scripts/test-dialog.sh</string>
        </array>

        <key>RunAtLoad</key>
        <true />

        <key>StandardOutPath</key>
        <string>/tmp/test-dialog.log</string>

        <key>StandardErrorPath</key>
        <string>/tmp/test-dialog.err</string>

        <key>KeepAlive</key>
        <false />
    </dict>
</plist>